/**
 * Widget: Instagram reskin
 */
.spc-insta {

	// Wrapper
	&-media {}

	// Immediate wrap
	&-item {}

	// Image link wrapper
	&-image-wrap {
		position: relative;
		display: block;
		width: 100%;
		padding-top: 100%;

		> img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.widget .spc-insta {

	&-media {
		overflow: hidden;
		margin: 0 -4px;
		margin-bottom: -8px;
	}

	&-item {
		float: left;
		width: (100% / 3);
		box-sizing: border-box;
		padding: 0 4px;
		margin-bottom: 8px;
	}
	
	&-image {
		transition: opacity 0.3s ease-in;
		will-change: opacity;
		
		&:hover {
			opacity: 0.8;
		}
	}
	
}